@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    }
ul, li {
    list-style: none;
    }
a {
    text-decoration: none;
    color: inherit;
    /* inherit 부모속성 적용 */
    }

body {
    font-size: 16px;
    font-family: "나눔고딕", "Nanum gothic", sans-serif;
    color: #333;
    }

/* 헤더 */
.header {
    width: 1140px;
    height: 90px;
    margin: 0 auto;
    /* background-color: #ddd; */
    }

.header h1 {
    float: left;
    padding-top: 28px; /* 90-34(이미지높이)=56/2=28 */
    margin-right: 25px;
    }

.header h2 {
    float: left;
    line-height: 90px;
    font-size: 20px;
    }

.header .menu {
    float: right;
    }

.header .menu li {
    float: left;
    margin-left: 40px;
    line-height: 90px;
    }

.header .menu li a:hover {
    color: blue;
    }

/* 메인비주얼 */

.section1 {
    height: 654px;
    /* background-image: url(./img/pc-cover-main.jpg);
    background-repeat: no-repeat; 이미지 반복금지
    background-position: center top; 이미지 위로 붙여라 */
    background: url(../img/pc-cover-main.jpg) no-repeat center top;
    background-size: cover; /* 박스를 꽉채운다 이미지가 잘린다 */
    }

.section1 b {
    display: block;
    padding: 95px 0 15px;
    color: rgb(13, 181, 211);
    text-align: center;
    font-size: 3em;
    }

.section1 > p {
    color: #f9f9f9;
    text-align: center;
    padding-bottom: 75px;
    }

.section1 .container {
    width: 860px;
    margin: 0 auto;
    margin-top: 220px;
    overflow: hidden;
    
    }

.section1 .container .quick {
    float: left;
    width: 200px;
    height: 150px;
    background-color: white;
    margin-right: 20px;
    border-radius: 20px;
    }

.section1 .container .quick.last {
    margin-right: 0px;
    }

.section1 .quick h3 {
    margin: 55px 30px 30px 30px;
    font-size: 20px;
    background: url(../img/arrow.jpg) no-repeat right;
    /* 주의: 앞에 background-repeat , background-position 등 주석처리할것 */
    }

.section1 .quick p {
    margin: 0 30px;
    font-size: 10px;
    letter-spacing: -1px;
    }

/* 섹션2 */
.section2 {
    width: 1140px;
    margin: 0 auto;
    }

.section2 > div {
    float: left;
    width: 480px;
    padding: 80px 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: right center;
    }

.section2 h3 {
    font-size: 28px;
    padding-bottom: 15px;
    }

.section2 .intro1 {
    background: url(../img/icon01.jpg) no-repeat right center;
    margin-right: 180px;
    
}

.section2 .intro2 {
    background: url(../img/icon02.jpg) no-repeat right center;

}